/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15 квіт. 2016, 11:05:29
    Author     : machuyanskyi_d
*/

.answers{
    display: none;
    margin-left: 20px;
}

/*.edit_u{
    display: none;
    width: 300px;
}*/

.questions p, .questions input, .answers p, .answers input, .user p, .user input{
    display: inline-block;
}

input[name='cancel_change'], input[name='edit_qa'], #test_manage, 
input[name='cancel_u_change'], input[name='edit_name'], input[name='edit_email']{
    display: none;
}

