/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19 квіт. 2016, 11:24:34
    Author     : storozhuk_v
*/

.answers{
    margin-left: 20px;
    border: 3px solid graytext;
    
}
.questions{
    background-color: white; 
} 
.questions p, .questions input, .answers p, .answers input{
    display: inline-block;
}



input:valid {
    border: 3px solid green;
}